<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a New Listing</h3>

    <form
      action="/listings"
      method="post"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          required
          placeholder="Add a catchy title"
        />
        <div class="valid-feedback">Title looks good</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          type="file"
          required
          class="form-control"
          name="listing[image]"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            required
            class="form-control"
            placeholder="1200"
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            required
            class="form-control"
            placeholder="India"
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          required
          placeholder="Rajkot, Gujarat"
          name="listing[location]"
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <br />
      <button class="btn btn-dark btn-add">Add</button><br /><br />
    </form>
  </div>
</div>
